/*
текст заголовков - Roboto 700
текст ссылок - Roboto 500
обычный текст - Roboto 400
*/

/* title styles */

/* .title-one {
  font-weight: 700;
  font-size: 16px;
  color: var(--font-color);
  line-height: 1.17;
} */

/* variables */

:root {
  /* colors */
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --font-color: #212121;
  --alt-font-color: #757575;
  --background-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway', sans-serif;
}

/* universal */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  color: var(--alt-font-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */

.page-header {
  border: 1px solid #ececec;

  background: var(--white-color);
}

.header .container {
  width: 1200px;
}

.main-logo {
  font-family: var(--accent-font);
  font-size: 26px;
  /* font-weight: 700px; */
  color: var(--font-color);
  word-spacing: -0.4ch;
}

.logo-item {
  color: var(--accent-color);
}

/* navigation */

.main-nav {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.list-item {
  color: var(--font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.nav-list .list-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.list {
  margin: 0px;
  padding: 0px;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .list-item + .list-item {
  margin-left: 50px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list .item + .item {
  margin-left: 50px;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.mail-icon {
  display: inline-flex;
  width: 16px;
  height: 12px;
  margin-right: 10px;

  fill: currentColor;
}

.tel-icon {
  display: inline-flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}

.mail-button:hover,
.mail-button:focus,
.tel-button:hover,
.tel-button:focus {
  fill: var(--accent-color);
}

/* hero section */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-color: var(--background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.buy-button {
  /* display: flex;
  align-items: center; */
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;

  background: var(--accent-color);
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;

  cursor: pointer;
  font-family: inherit;
}

/* features */

.feature-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  color: var(--font-color);
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-description {
  font-size: 14px;
  line-height: 1.7;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.feature-list .item {
  width: 270px;
  margin-right: 30px;
}

.feature-list .item:last-child {
  margin-right: 0px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
}

/* SVG BEFORE */

/* .feature-list .item::before {
  margin-bottom: 30px;
  display: block;
  content: '';
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
}

.feature-list .item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.feature-list .item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.feature-list .item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.feature-list .item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
} */

/* about */

.about-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--font-color);
}

.about-list {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}

.about-list .item + .item {
  margin-left: 30px;
}

/* team */

.team {
  /* width: 1600; */
  padding-top: 94px;

  background-color: var(--secondary-bg-color);
}

.decorated {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;

  background: #ffffff;
}

.title-name {
  margin-bottom: 10px;

  color: var(--font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.title-hide {
  color: rgba(255, 255, 255, 0);
}

.centered {
  text-align: center;
}

.team-social {
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
  background-color: var(--white-color);
}
.icon-list {
  display: flex;
  justify-content: center;
}

.team-item + .team-item {
  margin-left: 10px;
}

.team-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px 12px;

  border-radius: 50%;
  fill: #afb1b8;
}

.team-link:hover,
.team-link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

.team-icon {
  width: 20px;
  height: 20px;
}

/* clients section */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
}

.client-list .list-item {
  display: flex;
  width: 170px;
  height: 92px;
}

.client-list .list-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
}

.client-link:hover,
.client-link:hover svg,
.client-link:focus,
.client-link:focus svg {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.client-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.client-logo:hover {
  fill: inherit;
}

/* footer */

.footer-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--background-color);
}

.footer a p {
  color: var(--white-color);
}

.footer .main-logo {
  display: block;
  margin-bottom: 20px;
}

/* address */

address {
  display: flex;
}
.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.address-list .item + .item {
  margin-top: 9px;
}

.address-list .address-item {
  color: rgba(255, 255, 255, 0.6);
}

.social-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: var(--white-color);
}

.social-container {
  margin-left: 70px;
}

.social-list {
  display: flex;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  display: inline-flex;
  fill: var(--white-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.socail-link:hover,
.social-link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

.social-item:hover,
.social-item:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-icon {
  width: 20px;
  height: 20px;
}

/* PORTFOLIO */

/* filter buttons */

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .item + .item {
  margin-left: 8px;
}

.filter-button {
  background: #f5f4fa;
  color: var(--font-color);
  height: 38px;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;

  cursor: pointer;
  font-family: inherit;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background: var(--accent-color);
}

/* products list */

.product-list {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.product-item {
  width: calc((100% - 60px) / 3);
}

.product-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.product-item:not(:nth-last-child(3n)) {
  margin-left: 30px;
}

.product-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 18px;
  color: var(--font-color);
  line-height: 1.17;
}

.product-category {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.products {
  padding-bottom: 94px;
  padding-top: 94px;
  padding-right: 15px;
  padding-left: 15px;
}

.product-card {
  padding: 20px 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.card-image {
  display: block;
}
